div {
    display: box-level;
    border: 20px dotted white;
    border-radius: 40px;
    width: 400px;
    height: 400px;
    padding: 50px white;
    margin: 20px;
   }

   .azul{
    background-color: rgb(47, 47, 226);
   }
   
   p{
    height: auto;
    width: auto;
   }